body {
    margin: 0px;
}
.header {
    width: 100%;
    height: 120px;
    background-color: aqua;
    
    margin-top: 0px;
}
.container {
    width: 90%;
    margin: auto;
}
.head1 {
    width: 50%;
    float: left;

}
.head1 img {
    width: 150px;
    float: left;
}
.head1 h1 {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
} 
.head1 h1 span {
    color:orangered;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.head2 {
 width: 50%;
 float: right;
 text-align: left;


}
.head2 ul {
    width: 100%;
}
.head2 ul li {
    display: inline-block;
    padding: 20px 15px;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 10px;
    
    
}
.head2 ul li a:hover {
    padding: 10px;
    background-color: black;
    color: aliceblue;
    
    
}
.head2 ul li a {
    text-decoration: none;
    color:black;
}
.head2 ul button {
    padding: 15px 20px;
    background-color: darkorange;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    transition: 1s;
}
.head2 ul button a {
    text-decoration: none;
    color: #ffff;
    font-family: arial;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.head2 ul button:hover {
    background-color: #cccccc;
    transform: scale(1.1);
    box-shadow: 6px 7px 8px black;
}
.head2 ul button a:hover {
    color:black ;
    font-family: arial;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.head2 ul button a .try {
    color: red;
}
.main1 {
    width: 100%;
    height: 500px;
    background-Image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtczEtamlyYS0wMTE2LWt3YW4tMDFfMS5qcGc.jpg);
    background-color: #cccccc;
    padding: 20px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.mainpart {
    width: 60%;
    float: left;
}
.mainpart {
    color: black;
    font-family: 'Borel', cursive;
}
.mainpart h2 {
    font-size: 40px;
    margin: 50px 0px 0px 0px;
}
hr {
    width: 90%;
    height: 2px;
    border-color: blue;
    background-color: black;
    text-align:left;
    margin-left: 0px;
    margin-top: 0px;
}
.mainpart p {
    font-size: 20px;
    font-family: arial;
}
.mainpart2 {
    width: 40%;
    float: right;
}
.mainpart2 img {
    width: 600px;
    padding: 0px 0px 20px 30px;
    transition: 1s;

}
.mainpart2 img:hover {
    /*transform: matrix(1, 0, 0.2, 1, 50, 0);*/
    transform: scale(1.2);
    transform-origin: 10% 60%;
}
.main1 button {
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid #ffff;
    font-size: 20px;
    margin-top: 20px;
    Text-transform: uppercase;
    transition: 1s;
}
.main1 button a {
    text-decoration: none;
    color: #cccccc;
}
.main1 button:hover {
    background-color: #cccccc;
    border: 2px solid orangered;
    transform: scale(1.2);
    transform-origin: 10% 50%;
}
.main1 button a:hover {
    color: black;
}
.main2 {
    width: 100%;
    height: 550px;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxLWppcmEtMDExNi1rd2FuLTAzXzIuanBn.jpg);
    text-align: center;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: right;*/
}
.main2 h2 {
    text-transform: uppercase;
    color: black;
} 
.main2 p {
    color:black;
}
.mainpart3 {
    width: 22%;
    float: left;
    margin-right: 12px;
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 10px;
}
.mainpart3 img {
    width: 150px;
    transition: 1s;
}
.mainpart4 {
    width: 22%;
    float: left;
    margin-right: 12px;
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 10px;
}
.mainpart4 img {
    width: 150px;
    transition: 1s;
}
.mainpart5 {
    width: 22%;
    float: left;
    margin-right: 12px;
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 10px;
}
.mainpart5 img {
    width: 150px;
    transition: 1s;
}
.mainpart6 {
    width: 22%;
    float: left;
    margin-right: 12px;
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 10px;
}
.mainpart6 img {
    width: 150px;
    transition: 1s;
}
.main2 hr {
    width: 100%;
    height: 2px;
    border-color: blue;
    background-color: black;
    text-align:left;
    margin-left: 0px;
    margin-top: 0px;
}
.main2 button {
    background-color: transparent;
    padding: 10px 50px;
    border-radius: 20px;
    border: 2px solid orangered;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 1s;
}
.main2 button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.main2 button:hover {
    background-color: orangered;
    border: 2px solid orangered;
    transform: scale(1.2);
    transform-origin: 20% 30%;
}
.main2 button a:hover {
    color: black;
}
.main2 img:hover {
    transform: scale(1.1);
}
.main3 {
    width: 100%;
    height: 400px;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmczEtamlyYS0wMTIzLWt3YW4tMDJfMS5qcGc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: center;*/
    padding: 10px 0px;
}
